.categories {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
}
.categories a {
    width: 100px;
}
figure {
    width: 70px;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    margin: 0.5rem;
}

figure img{
    width: 70px;
}

figure figcaption {
    font-size: 0.8rem;
    font-weight: bold;
}

.recipeList li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}